<html>

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import boostrap.css-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css?q={{ time }}" />
	<title>Login</title>

</head>

<body>
	<h1>Welcome to Your Planner!</h1>
	<h2>Login to access your planner</h2> <br><br>
	<form>
		<label for="username">Username</label><br>
		<input id= "username" type="text" name="username" placeholder=""/><br><br>
		<input id="login" type="submit" value="Login"/>
        </form>
</body>

</html>